.page__heading {
    margin-right: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 30px;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-bottom-right-radius: 3rem;
    z-index: 1;
}